[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
	shallow = true
[submodule "thirdparty/RayUI"]
	path = thirdparty/RayUI
	url = https://github.com/SemkiShow/RayUI
	shallow = true
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/ThePhD/sol2
	shallow = true
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/lua/lua
	shallow = true
