[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
	shallow = true
[submodule "thirdparty/RayUI"]
	path = thirdparty/RayUI
	url = https://github.com/SemkiShow/RayUI
	shallow = true
